# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Admin
ADMIN_EMAIL=admin@payment-ecosystem.local

# MySQL (payment-gateway only)
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=payment_gateway
MYSQL_USER=payment_gateway
MYSQL_PASSWORD=secret
